<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AuthApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['precios']" routerLinkActive="router-link-active">Precios</a>
            </li>
            <li class="nav-item" *ngIf="authService.loggedIn">
                <a class="nav-link" [routerLink]="['protegida']" routerLinkActive="router-link-active">Protegida</a>
            </li>
        </ul>
        <span class="navbar-text">
      <button (click)="authService.login()" *ngIf="!authService.loggedIn" type="button" class="btn btn-outline-primary">Login</button>
      <button (click)="authService.logout()" *ngIf="authService.loggedIn" type="button" class="btn btn-outline-primary">Logout</button>
    </span>
    </div>
</nav>